@import '../../variables.scss';
@import '../../properties.scss';

.file-outer-div{
    display: inline-block;
    margin: 5px ;
    padding: 15px 20px;
    padding-bottom: 0px;
    border-radius: 5px;
    cursor: pointer;
    @include animate-hover;
    .file-element-div{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
    
        p{
            margin-top: 7px;
            color: $lgt-primary-text;
            font-weight: 500;
            font-size: 13px;
        }
    }

    &:hover{
        background-color: $lgt-left-non-active-folder-bg;
    }
}

.file-outer-div-dt{
    display: inline-block;
    margin: 5px ;
    padding: 15px 20px;
    padding-bottom: 0px;
    border-radius: 5px;
    cursor: pointer;
    @include animate-hover;
    .file-element-div{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
    
        p{
            margin-top: 7px;
            color: $drk-primary-text;
            font-weight: 500;
            font-size: 13px;
        }
    }

    &:hover{
        background-color: $drk-left-non-active-folder-bg;
    }
}