@import '../../variables.scss';
@import '../../properties.scss';

.file-outer-div{
    display: inline-block;
    margin: 20px ;
    .file-element-div{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
    
        p{
            margin-top: 7px;
            color: $lgt-primary-text;
            font-weight: 500;
            font-size: 13px;
        }
    }
}


.file-outer-div-dt{
    display: inline-block;
    margin: 20px ;
    .file-element-div{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
    
        p{
            margin-top: 7px;
            color: $drk-primary-text;
            font-weight: 500;
            font-size: 13px;
        }
    }
}