@import '../../variables.scss';
@import '../../properties.scss';


.folder-index-item{
    background-color: $lgt-left-non-active-folder-bg;
    color: $lgt-non-active-text-icon;
    border: solid 1px $lgt-left-non-active-folder-bg;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    border-radius: 4px;
    width: auto;
    gap: 10px;
    white-space: nowrap;
    margin: 12px 0px;
    overflow-x: auto;
    @include animate-hover;
    &:hover{
        border: solid 1px $lgt-non-active-text-icon;
    }    
    .folder-name-div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}
.folder-index-item-active{
    background-color: #ffffff;
    color: $lgt-lock-button;
    border: solid 1px #ffffff;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    border-radius: 4px;
    width: auto;
    font-weight: 600;
    justify-content: space-between;
    white-space: nowrap;
    margin: 12px 0px;
    overflow-x: auto;
    @include animate-hover;
    &:hover{
        border: solid 1px $lgt-non-active-text-icon;
    }    

    .icon-active{
        justify-self: flex-end !important;
    }
    .folder-name-div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}


.folder-index-item-dt{
    background-color: $drk-left-non-active-folder-bg;
    color: $drk-non-active-text-icon;
    border: solid 1px $drk-left-non-active-folder-bg;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    border-radius: 4px;
    width: auto;
    gap: 10px;
    white-space: nowrap;
    margin: 12px 0px;
    overflow-x: auto;
    @include animate-hover;
    &:hover{
        border: solid 1px $drk-non-active-text-icon;
    }    
    .folder-name-div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}

.folder-index-item-dt-active{
    background-color: #ffffff;
    color: $lgt-lock-button;
    border: solid 1px #ffffff;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    border-radius: 4px;
    width: auto;
    font-weight: 600;
    gap: 10px;
    justify-content: space-between;
    white-space: nowrap;
    margin: 12px 0px;
    overflow-x: auto;
    @include animate-hover;
    &:hover{
        border: solid 1px $drk-non-active-text-icon;
    }   
    .folder-name-div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    } 
}