@import '../../variables.scss';
@import '../../properties.scss';

*{
    box-sizing: border-box;
}


.main-page-div{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.main-page-div-dt{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $drk-bg;
}


.left-div-main-page{
    
}

.right-div-main-page{
  //  margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 75vw;
}