@import '../../variables.scss';
@import '../../properties.scss';

.header-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 30px;
    background-color: #ffffff;
    padding: 40px;
    justify-content: space-between;

    .top-btn-search{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        justify-content: space-between;

        .search-div{
            padding: 5px;
            border: solid 1px $lgt-left-non-active-folder-bg;
            border-radius: 4px;
            form{
                display: flex;
                flex-direction: row;
                background-color: #ffffff;
                justify-content: center;
                button{
                    background-color: #ffffff;
                    border: 0;
                    color: $lgt-search-text;
                }
    
                input{
                    width: 400px;
                    border: 0;
                    font-size: 16px;
                    font-family: 'DM Sans', sans-serif;
                }

                input:focus{
                   outline: none;
                }
    
                input::placeholder{
                    font-size: 16px;
                    font-family: 'DM Sans', sans-serif;
                    color: $lgt-search-text;
                }
            }

            .search-items-div{
                border: 1.5px solid $lgt-left-non-active-folder-bg;
                border-bottom: 0;
                border-radius: 4px;
                position: absolute;
                top: 90px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                width: 440px;
            }

            &:focus-within{
                border: 1px solid;
                border-color: $lgt-non-active-text-icon;
            }


        }

        .btn-div{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .btn-mode{
                font-family: 'DM Sans', sans-serif;
                border: solid;
                background-color: #ffffff;
                padding: 5px 15px;
                border-radius: 4px;
                border-width: 1px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
                color: $lgt-add-buttons;
                border-color: $lgt-add-buttons;
                font-weight: bold;
                @include animate-hover;
            }
    
            .btn-mode:hover{
                  background-color: $lgt-left-non-active-folder-bg;       
            }
            
            .btn-icons{
                font-family: 'DM Sans', sans-serif;
                background-color: #ffffff;
                padding: 5px 15px;
                border: solid 1px $lgt-left-non-active-folder-bg;
                border-radius: 4px;
                color: $lgt-non-active-text-icon;
                font-weight: bold;
                @include animate-hover;
            }

            .btn-icons:hover{
                background-color: $lgt-left-non-active-folder-bg;
            }



        }
        
    }

    hr{
        border: none;
        border-top: $lgt-left-non-active-folder-bg 1px solid;
        width: 100%;
    }

    .bottom-path-div{
        color: #000000;
        @include font-dmsans;
        font-weight: 600;
        .span-path{
            cursor: pointer;
            &:hover{
                text-decoration: underline dotted;
            }
        }
    }
    
}

.header-div-dt{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 30px;
    background-color: $drk-bg;
    padding: 40px;
    justify-content: space-between;

    .top-btn-search{
        display: flex;
        flex-direction: row;
        background-color: $drk-bg;
        justify-content: space-between;

        .search-div{
            padding: 5px;
            border: solid 1px $drk-add-buttons-border;
            border-radius: 4px;
            form{
                display: flex;
                flex-direction: row;
                background-color: $drk-bg;
                justify-content: center;
                button{
                    background-color: $drk-bg;
                    border: 0;
                    color: $drk-search-text;
                }
    
                input{
                    background-color: $drk-bg;
                    width: 400px;
                    border: 0;
                    font-size: 16px;
                    font-family: 'DM Sans', sans-serif;
                    color: #ffffff;
                    font-weight: 500;
                }

                input:focus{
                   outline: none;
                }
    
                input::placeholder{
                    font-weight: 400;
                    font-size: 16px;
                    font-family: 'DM Sans', sans-serif;
                    color: $drk-search-text;
                }
            }

            .search-items-div{
                background-color: $drk-left-explorer-bg;
                border: 1.5px solid $drk-add-buttons-border;
                //border-bottom: 0;
                border-radius: 4px;
                position: absolute;
                top: 90px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                width: 440px;
            }

            &:focus-within{
                color: #ffffff;
                border-color: #ffffff;
                button{
                    color: #ffffff;
                }
            }


        }

        .btn-div{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .btn-mode{
                font-family: 'DM Sans', sans-serif;
                border: solid;
                background-color: $drk-bg;
                padding: 5px 15px;
                border-radius: 4px;
                border-width: 1px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
                color: $drk-add-buttons;
                border-color: $drk-add-buttons-border;
                font-weight: bold;
                @include animate-hover;
            }
    
            .btn-mode:hover{
                  background-color: $drk-left-non-active-folder-bg;       
            }
            
            .btn-icons{
                font-family: 'DM Sans', sans-serif;
                background-color: $drk-bg;
                padding: 5px 15px;
                border: solid 1px $drk-add-buttons-border;
                border-radius: 4px;
                color: $drk-non-active-text-icon;
                font-weight: bold;
                @include animate-hover;
            }

            .btn-icons:hover{
                background-color: $drk-left-non-active-folder-bg;
            }

        }
        
    }

    .bottom-path-div{
        color: $drk-primary-text;
        @include font-dmsans;
        font-weight: 600;
        .span-path{
            cursor: pointer;
            &:hover{
                text-decoration: underline dotted;
            }
        }
    }

    hr{
        border: none;
        border-top: $drk-add-buttons-border 1px solid;
        width: 100%;
    }


    
}