@import '../../variables.scss';
@import '../../properties.scss';

.pin-modal{
    @include lgt-modal-properties;
    .modal-div{
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        background-color: #ffffff;
        border: 1px solid $lgt-left-non-active-folder-bg;
        padding: 70px 50px;
        h3{
            margin:0 0 30px 0;
            font-size: 18px;
        }
        .pin-input-div{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            .pin-input{
                border: 1.75px solid $lgt-left-non-active-folder-bg;
                padding: 10px 12px;
                border-radius: 4px;
                font-size: 20px;
                text-align: center;
                font-weight: 500;
            }
    
            .pin-input:focus{
                border: 1.75px solid $lgt-modal-btns;
                outline: none;
            }
        }
    
        .modal-submit-btn{
            margin-top: 30px;
            font-family: 'DM Sans', sans-serif;
            border: solid;
            font-size: 16px;
            background-color: $lgt-modal-btns;
            padding: 5px 25px;
            border-radius: 4px;
            border-width: 3px;
            color: #FFFFFF;
            border-color: $lgt-modal-btns;
            font-weight: 500;
            @include animate-hover;
        }
    
        .modal-submit-btn:hover{
            background-color: $lgt-modal-btns-hover;
    
        }
    
        
    }
}

.pin-modal-dt{
    @include drk-modal-properties;
    .modal-div{
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        background-color: $drk-left-explorer-bg;
        border: 1px solid $drk-left-non-active-folder-bg;
        padding: 70px 50px;
        h3{
            margin:0 0 30px 0;
            font-size: 18px;
            color: $drk-primary-text;
        }
        .pin-input-div{
            display: flex;
            flex-direction: row;
            gap: 20px;  
            justify-content: center;
            .pin-input{
                background-color: $drk-bg;
                border: 1.75px solid $drk-add-buttons-border;
                padding: 10px 12px;
                border-radius: 4px;
                color: $drk-primary-text;
                font-weight: 500;
                font-size: 20px;
                text-align: center;
            }
    
            .pin-input:focus{
                border: 1.75px solid $drk-primary-text;
                outline: none;
            }
        }
    
        .modal-submit-btn{
            margin-top: 30px;
            font-family: 'DM Sans', sans-serif;
            border: solid;
            font-size: 16px;
            background-color: $drk-modal-btns;
            padding: 5px 25px;
            border-radius: 4px;
            border-width: 3px;
            color: #FFFFFF;
            border-color: $drk-modal-btns;
            font-weight: 500;
            @include animate-hover;
        }
    
        .modal-submit-btn:hover{
            background-color: $drk-modal-btns-hover;
    
        }
    
        
    }
}
