// ========LIGHT THEME=============

$lgt-left-explorer-bg: #F7F8FA;
$lgt-non-active-text-icon:#566474;
$lgt-left-non-active-folder-bg:#EBF0F5;
$lgt-left-active-folder-bg:#FFFFFF;
$lgt-lock-button:#445EE2;
$lgt-active-text-icon:#445EE2;
$lgt-add-buttons:#445ee2;
$lgt-lock-btn-hover: #445EE2DD;
$lgt-search-text:#9EAAB7;
$lgt-modal-btns:#142683;
$lgt-modal-btns-hover:#142783dc;
$lgt-primary-text:#1E272E;
$lgt-secondary-text: #566474;
$lgt-modal-trans-bg:rgba(30, 39, 46, 0.9); 

// ==================================


//===========DARK THEME===============

$drk-left-explorer-bg: #1E272E;
$drk-bg:#2E353D;
$drk-non-active-text-icon:#FFFFFF;
$drk-left-non-active-folder-bg: #494E53;
$drk-left-active-folder-bg:#9EAAB7;
$drk-lock-button:#445EE2;
$drk-active-text-icon:#FFFFFF;
$drk-add-buttons:#636970;
$drk-lock-btn-hover: #445EE2DD;
$drk-search-text:#FFFFFF;
$drk-modal-btns:#142683;
$drk-modal-btns-hover:#142783dc;
$drk-primary-text:#FFFFFF;
$drk-secondary-text: rgba(255, 255, 255, 0.7);
$drk-modal-trans-bg:rgba(205, 211, 216, 0.733); 

//=======================================